<%- include('_adminHeader')%>
  <div class="container">
    <h3 class="display-6 my-5 text-center">Company: Alert Security & Patrol</h3>
    <p class="lead text-center">
      Pull completed shifts where start <em>time</em> lies between
      <input type="text" name="daterange">
    </p>
    <p class="lead text-center">
      Narrow down by site <select id="siteOptions">
        <option value="/admin">All</option>
        <% sites.forEach(site=>{ %>
          <% if(site.isSelect){ %>
            <option selected value="/admin?site=<%= site.siteName %> ">
              <%= site.siteName %>
            </option>
            <% }else{ %>
              <option value="/admin?site=<%= site.siteName %> ">
                <%= site.siteName %>
              </option>
              <% } %>
                <% }) %>
      </select>
    </p>
    <p class="text-center">
      <button class="btn btn-primary btn-lg ">Pull Shift</button>
    </p>
    <a href="/admin/add-employee" class="btn btn-primary">Add Employee</a>
    <% if(employees.length>0){ %>
      <table class="table table-striped" id="employeeTable">
        <thead>
          <tr class="text-center">
            <th scope="col">Site name</th>
            <th scope="col">Employee name </th>
            <th scope="col">Employee PIN </th>
            <th scope="col">Location</th>
            <th scope="col">Shift Start</th>
            <th scope="col">Shift End</th>
            <th scope="col">Shift Break Start</th>
            <th scope="col">Shift Break End</th>
            <th scope="col">Total Time</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

          <% for(let employee of employees){ %>
            <tr class="text-center">
              <td>
                <%= employee.siteName %>
              </td>
              <td>
                <%= employee.name %>
              </td>
              <td>
                <%= employee.pin %>
              </td>
              <td>
                <%= employee.location %>
              </td>
              <td>
                <%= employee.clockInTime %>
              </td>
              <td>
                <%= employee.clockOutTime %>
              </td>
              <td>
                <%= employee.breakStartTime %>
              </td>
              <td>
                <%= employee.breakEndTime %>
              </td>
              <td>
                <%= employee.totalTime %>
              </td>

              <td>

              <td><button data-delete-id="<%= employee._id %> "
                  class="btn btn-danger btn-sm deleteEmployeeBtn">Delete</button>
              </td>
            </tr>
            <% } %>

        </tbody>
      </table>
      <% }else{ %>
        <h3>No Employee Found</h3>
        <% } %>
  </div>
  <script>
    const deleteButtons = document.querySelectorAll('.deleteEmployeeBtn')
    const deleteHandler = e => {
      e.preventDefault()
      const btn = e.target;
      const id = btn.dataset.deleteId
      if (confirm("you want to delete this employee")) {
        btn.textContent = "Deleting..."
        btn.disabled = true;
        fetch(`/admin/api/delete-employee/${id}`, {
          method: "DELETE",
          headers: {
            'Content-Type': 'application/json'
          },

        })
          .then(res => res.json())
          .then(res => {
            btn.textContent = 'Delete'
            btn.disabled = false;
            if (res.success) {
              const tr = btn.parentNode.parentNode;
              tr.parentNode.removeChild(tr)
            } else {
              console.log(res)

            }
          })
          .catch(err => {
            console.log(err)
            btn.textContent = 'Delete'
            btn.disabled = false;
          })
      }
    }
    deleteButtons.forEach(btn => btn.addEventListener('click', deleteHandler))
  </script>
  <%- include('_adminFooter') %>